body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'NewPanamSkyline';
  src: url('../fonts/NewPanamSkylineTrial-Regular.otf') format('truetype');
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.navbar:hover {
  backdrop-filter: none;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../fondo3.svg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.logo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 200px;
  z-index: 1000;
}

.menu {
  position: absolute;
  top: calc(50% + 30px);
  right: 40px;
  transform: translateY(-50%);
  display: flex;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #cababa;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  right: 20px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #5c5a5a;
}

.bar:first-child {
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.bar:last-child {
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.navbar.open .bar:first-child {
  transform: rotate(45deg) translate(5px, 6px);
}

.navbar.open .bar:last-child {
  transform: rotate(-45deg) translate(5px, -6px);
}

.menu {
  position: fixed;
  top: 45px;
  left: 0;
  height: 100vh;
  width: 100%;
  max-width: 200px;
  background-color: #3b3a3a;
  color: #fff;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar.open .menu {
  transform: translateX(0%);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: #f8f7f7;
  font-size: 18px;
}

.menu-toggle {
  display: block;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  cursor: pointer;
}

.title {
  font-family: 'NewPanamSkyline', sans-serif;
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateY(-50%);
  color: #f1eaea;
  font-size: 68px;
  font-weight: bold;
}

.subtitle {
  font-family: 'NewPanamSkyline', sans-serif;
  position: absolute;
  top: 45%;
  left: 5%;
  transform: translateY(-50%);
  color: #f1eaea;
  font-size: 24px;
}

.contact-button {
  font-family: 'NewPanamSkyline', sans-serif;
  position: absolute;
  top: 56%;
  left: 5%;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  border: 1px solid #fff;
  border-radius: 0px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.contact-button span {
  margin-right: 5px;
}

.contact-button svg {
  vertical-align: middle;
}

.social-icons {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #555;
}

.social-icon svg {
  color: white;
  font-size: 20px;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    position: fixed;
    top: 45px;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 200px;
    background-color: #3b3a3a;
    color: #fff;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .navbar.open .menu {
    transform: translateX(0%);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .menu li {
    margin-bottom: 20px;
  }

  .menu a {
    text-decoration: none;
    color: #f8f7f7;
    font-size: 18px;
  }

  .navbar {
    padding: 0 10px;
  }

  .logo {
    width: 150px;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 18px;
  }

  .contact-button {
    font-size: 18px;
  }

  .social-icons {
    top: 80%;
  }
}

